---
---

@import "{{ site.theme }}";

a:hover, a:focus {
  color: #069;
  font-weight: normal;
  text-decoration: underline;
}

header h3 {
  margin-top: 40px;
}

header ul {
  padding-left: 15px;
  margin-bottom: 40px;
}
