<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <h3 id="progress">Progress</h3>
        <ul class="roadmap">
          <li><del>Rebuild summary, mission, activity log and blog</del></li>
          <li><del>Rebuild a projects/ideas management tool</del> <a href="https://docs.google.com/spreadsheets/d/12vxRYLiDF-cSlhvIf2hHiJ6oE1ZQD79s41yMkZIYIS0/edit?usp=sharing">v1</a></li>
          <li><del>Rebuild and reorganize <a href="zackgilbert.com">zackgilbert.com</a> properties</del></li>
          <li><del>Rebuild <a href="http://workwithzack.com">workwithzack.com</a></del></li>
          <li>Rebuild a Notion clone</li>
          <li>Rebuild a Instagram clone</li>
          <li>Rebuild a Twitter replacement</li>
          <li>Rebuild a digital ecommerce platform</li>
          <li>Rebuild a link shortening/tracking tool</li>
        </ul>
        
        <p>Last updated: {{ site.categories.activity.first.date | date: "%Y-%m-%d" }}</p>
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; <a href="/feed.xml">RSS Feed</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
